@import "../../../scss/_layout-mixins";

.Contact {
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 60px;
    a {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        span {
            margin-left: 12px;
            color: $black;
        }

        img {
            margin-top: 2px;
        }
    }
}
