.BookWrapper {
    position: relative;
    margin-bottom: 100px;

    @media screen and (max-width: 641px) {
        margin-bottom: 0px;
    }
}

.Wrapper {
    margin-top: 60px;

    @media screen and (max-width: 600px) {
        margin-top: 40px;
    }
}
