@import "../../../scss/_layout-mixins";

.Gallery {
}

.CTA {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}
.MansoryLayout {
}

.MasonryItem {
    img {
        max-width: 100%;
        border-radius: 10px;
        overflow: hidden;
    }
}
