@import "../../../scss/_layout-mixins";

.StepParentWrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 88px;

    @include mobile {
        margin-top: 0px;
    }
}

.StepImage {
    flex: 2;
    max-width: 609px;
    margin-right: auto;
}
.Steps {
    margin-bottom: 110px;

    @include mobile {
        margin-bottom: 70px;
    }

    @media screen and (max-width: 991px) {
        max-width: 600px;
        margin: 40px auto;
    }
    @media screen and (max-width: 600px) {
        margin-bottom: 0px;
    }

    &__Items {
        flex: 1;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 104px;

        @include mobile {
            margin-top: 70px;
            padding: 0 16px;
        }
        @media screen and (max-width: 991px) {
            max-width: 600px;
            margin: 70px auto;
        }
        @media screen and (max-width: 600px) {
            max-width: 260px;
        }
    }
}

.Quote {
    color: $grey-text;
    font-weight: 800;
    font-size: 60px;
    line-height: 130%;
    text-align: center;
    margin-top: 83px;

    &__Author {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: $black;
        letter-spacing: 0.02em;
        margin-top: 16px;
    }

    @include mobile {
        font-size: 42px;
        margin-top: 70px;
    }
}
