@import "../../scss/_layout-mixins";

.PageHero {
    min-height: 448px;
    background-color: $hero-bg;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/images/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 82px;

    h1 {
        font-weight: 700;
        font-size: 72px;
        color: $color-primary-light-text;
        text-align: center;
    }
}
