@import "../../scss/_layout-mixins";

.Wrapper {
    background-color: $hero-bg;
}

.PageHero {
    min-height: 360px;
    background-color: $hero-bg;
    display: flex;
    align-items: center;
    background-image: url("/images/gallery-hero.png");
    background-repeat: no-repeat;
    background-position: center -10%;

    @media screen and (max-width: 641px) {
        min-height: 300px;
    }

    h1 {
        font-weight: 700;
        font-size: 72px;
        color: $color-primary;
        margin-top: 68px;
        font-size: 97.9794px;
        line-height: 130%;

        @include mobile {
            padding-left: 16px;
        }

        @media screen and (max-width: 641px) {
            font-size: 66px;
        }
    }
}
