@import "../../scss/_layout-mixins";

.Main {
    position: relative;
    overflow-x: hidden;
    height: 100% !important;
    scroll-behavior: smooth;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
