@import "../../../scss/_layout-mixins";

.Header {
    background-color: $color-primary-light;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.MastHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.Nav {
    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;

        li {
            &:not(:last-child) {
                margin-right: 18px;
            }

            a {
                padding: 10px 0;
                color: $color-primary-dark;
                font-weight: 700;
                font-size: 16px;
            }
        }
    }
}
