@import "../../../scss/_layout-mixins";

.Reviews {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    margin: 92px 0 97px 0;

    @media screen and (max-width: 991px) {
        max-width: 600px;
        margin: 70px auto;
    }
    @media screen and (max-width: 600px) {
        max-width: 340px;
        padding: 16px;
    }
}
