@import "../../../scss/_layout-mixins";

.Wrapper {
    margin: 92px 0 97px 0;

    @media screen and (max-width: 991px) {
        margin: 70px auto;
    }
}
.Title {
    margin-bottom: 60px;
    text-align: center;
    color: $grey-text;
}
.Reviews {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 991px) {
        max-width: 600px;
    }
    @media screen and (max-width: 600px) {
        max-width: 340px;
        padding: 16px;
    }
}
