@import "../../../scss/_layout-mixins";

.HeroSection {
    background-color: $color-primary-light;
    width: 100%;
    padding: 100px 0 92px 0;
}
.HeroSectionImage {
    max-width: 100%;
    display: flex;
    margin: 0 auto;
}

.HeroTexts {
    text-align: center;

    h1 {
        font-size: 72px;
        font-weight: 700;
        margin-bottom: 20px;
        color: $grey-text;
        line-height: 130%;

        span {
            color: $color-primary;
        }
    }

    p {
        color: $color-primary-dark;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.02em;
    }
}

.CTA {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}
