@import "../../scss/_layout-mixins";

.MasonryItem {
    img {
        max-width: 100%;
        overflow: hidden;
        border-radius: 32px;
    }
}

.MansoryLayout {
    @include mobile {
        padding: 0 16px;
    }
}
