/*
 *  Configuration variables for this site go here
 */

$white: #fff;
$black: #171717;
$color-primary-dark: #e8b979;
$color-primary-light: rgba(232, 185, 121, 0.08);
$color-primary-light-text: #eae2d4;
$color-primary: #e8b979;
$grey-text: #696a77;
$grey1: #f9fafb;
$grey2: #98a2b3;
$hero-bg: #1e1f27;

/*
 *  GRID
 *
 */

$master-col-width: 7%;
$master-gutter-width: 16% / 11%;

// provides a fallback for font-size()
$base-font-size: 14.5;

$widthIpad: 973px;

$widthTablet: 1261px;

$widthDesktop: 1091px;

$max-width: 1440px;

$grid-columns: 12;
$grid-gutter-width: 16px;

// don't generate the bootstrap grid classes - use the mixins!
$enable-grid-classes: false;
