/*
 *  Global styles
 *  This should only be imported at the page level. Do not import into any component.
 */

// Import baseline resets
@import "resets";
@import "variables";
@import "resets";
@import "layout-mixins";
@import "grid";
@import "typography";

.swiper {
    width: 100%;
    height: 100%;
}
.reviews {
    .swiper-slide {
        width: 316px;
        &:not(:last-child) {
            margin-right: 32px;
        }
    }
}
.swiper-wrapper {
    padding-bottom: 60px;
}
.swiper-pagination {
    .swiper-pagination-bullet {
        background: $grey-text;
    }
    .swiper-pagination-bullet-active {
        background: $color-primary;
    }
}

.swiper {
    overflow: visible !important;
}
.overflow-visible {
    overflow: visible;
}
