@import "../../scss/_layout-mixins";
.About {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 0 100px 0;

    @include mobile {
        padding: 16px;
    }

    @media screen and (max-width: 720px) {
        flex-direction: column;
    }
}

.AboutText {
    max-width: 732px;
    h2 {
        font-weight: 800;
        font-size: 60px;
        line-height: 130%;
        color: $grey-text;

        @include mobile {
            font-size: 40px;
        }

        @media screen and (max-width: 720px) {
            text-align: center;
            margin-bottom: 20px;
        }
    }
}

.ImgWrapper {
    flex-shrink: 0;
    img {
        width: 100%;
    }
}
